<canvas #canvas style="background: black;"></canvas>
<br/>
<small>Hit start to GO, ←	and → to move and space to shoot</small>
<p>
	<label *ngIf="lives <= 0">Game Over</label>
</p>
<p>
  <label>Score: {{ score }}</label>
</p>
<p>
  <label>Round: {{ round }}</label> 
</p>
<p>
  <label>Lives: {{ lives }} </label>
</p>
<button *ngIf="$stopped.value" (click)="$stopped.next(false)">Start</button>
<button *ngIf="!$stopped.value" (click)="$stopped.next(true)">Stop</button>
<button *ngIf="lives <= 0" (click)="setUpGame()">Restart</button>